@{
    ViewData["Title"] = "BYU-I Home ";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BYU-I</h1>
</div>
    <div id="headerImage">
        <img src="images/idaho.jpg">
    </div>
<div style=" text-align: center; margin:1em;">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel mi eget neque sollicitudin porta. Donec scelerisque lorem tortor, eget scelerisque sem pellentesque in. Curabitur scelerisque et odio nec hendrerit. Praesent rutrum, nunc eu facilisis semper, nibh dolor bibendum arcu, vel volutpat purus nulla vel justo. Morbi posuere feugiat mattis. Cras id elit ac velit iaculis molestie at eu enim. Donec sollicitudin tellus sit amet tellus eleifend bibendum. Fusce luctus vel orci eu convallis. Sed consectetur ex finibus metus tincidunt ultrices. Morbi non cursus nibh, non ultrices tortor.</p>
    <p>Suspendisse ultricies augue eget arcu efficitur porta. Sed libero metus, condimentum quis nunc a, efficitur ultricies sapien. Cras sodales rutrum leo, bibendum laoreet turpis porttitor in. Nam quis porttitor ipsum, pharetra vehicula ipsum. Nulla ac pulvinar erat. Nam nec vehicula nulla. Nulla faucibus, turpis non aliquam consequat, tellus odio viverra ipsum, sed blandit sem magna vitae dui. Vestibulum ac hendrerit turpis.</p>
   </div>